.globalHeader {
  height: 70px;
  width: 100vw;
  padding-top: 10px;
  position: fixed;
  background-color: transparent;
  /*background: #3d4044;*/
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 999;
}

#logo {
  background-color: transparent;
  /*background: #074b23;*/
  height: 70px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titleWrap {
  flex-wrap: wrap;
  width: 70px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

#cart {
  padding-right: 55px;
}

.firstCarousel {
  height: 750px;
  width: 100vw;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 1;
}

.carousel-image-container img {
  height: 125vh;
  width: 100vw;
}

#zero {
  height: 100%;
}

#one {
  height: 75%;
}

#two {

}

#dot1 {
  background-image: url("./Images/empty_circle.gif");
  height: 50px;
  width: 50px;
  z-index: 1;
  background-color: #ccc;
}

.shoppingCarousel {
  height: 400px;
  width: 100vw;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rebate-catalog {
  height: 385px;
  width: 100vw;
  background-image: url("./Images/rebate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.rebate-catalog button {
  display: inline-block;
  padding: 2% 15%;
  color: #222;
  background: #fff;
  font-size: 16px;
  margin-top: 28px;
}

.rebate-content {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  width: 100%;
  font: 300 16px/1.2 "Knockout 48 A","Knockout 48 B",Geneva,Tahoma,Verdana,sans-serif;
  letter-spacing: 0.047em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.left-column {
  width: 28vw;
  padding: 70px 35px;
  border: 2px solid #fff;
  color: #fff;
  float: left;
  margin-left: 15vw;
  margin-top: 10vh;
  font-size: 24px;
  line-height: 1;
}

.rebate-btn {
  margin-top: -40px;
  margin-bottom: 15px;
}

.right-column {
  width: 28vw;
  padding: 55px 35px;
  border: 2px solid #fff;
  color: #fff;
  float: right;
  margin-right: 15vw;
  margin-top: 10vh;
  font-size: 24px;
  line-height: 1;
}

.right-column img {
  margin-top: -45px;
  margin-bottom: 15px;
  height: 80px;
  width: 125px;
}

.menu {
  height: 650px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.parallax {
  /* The image used */
 background-image: url("./Images/parallax.jpg");

 /* Set a specific height */
 height: 550px;

 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: 50% 5%;
 background-repeat: no-repeat;
 background-size: cover;

 display: flex;
 justify-content: center;
 align-items: center;
}

.news {
  height: 800px;
  width: 100vw;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 800px;
  width: 100vw;
  background: #074b23;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
