
  <section class="shoppingCarousel"> {{shopping}}
      <slick settings="slickConfig" ng-if="numberLoaded">
        <div class="carouselShopping" ng-repeat="i in shopping">
           <div class="carousel-image-container">
              <img id={{i.id}} src={{i.url}}>
              <!-- <div id="dot1"></div>
              <div id="dot2"></div>
              <div id="dot2"></div>
              <div id="dot3"></div>
              <div id="dot4"></div> -->
           </div>
        </div>
      </slick>
  </section>

  <section class="rebate-catalog">
      <div class="rebate-content">
        <div class="left-column">
          <div class="rebate-btn"><img src="./Images/btn-rebate.png"></div>
            <span class="title">CASH BACK BY MAIL <br> FOR SELECT PURCHASES</span>
              <button type="button">Learn More</div>
        <div class="right-column">
          <div class="catalog-btn"><img src="./Images/photo-cover-catalog.jpg"></div>
            <span class="title">FLIP THROUGH OUR <br> MEDIA-RICH DIGITAL CATALOG</span>
          <button type="button">Dive In</div>
      </div>
  </section>

  <section class="menu">
    <!-- <div ng-repeat="image in images"></div> -->
  </section>

  <div class="parallax">
    <img src="./Images/200years.png" width="40%" height="50%">
  </div>

  <section class="news">Safety Information, Videos, Facebook, and Twitter</section>

  </body>
</html>
