.globalHeader {
  height: 70px;
  width: 100vw;
  position: fixed;
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 999;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.logo {
  background-color: transparent;
  height: 70px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}

#titleWrap {
  flex-wrap: wrap;
  width: 70px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  cursor: pointer;
}

    #titleWrap:hover {
      text-decoration: underline;
    }

#cart {
  padding-right: 55px;
}

.custom-shop {
  color: #fff;
  text-decoration: none;
}

#pointer {
  cursor: pointer;
}

    #pointer:hover {
      text-decoration: underline;
    }

.stick {
  background: #3d4044;
  height: 70px;
  width: 100vw;
  position: fixed;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}

.stick1 {
  background: #074b23;
  height: 70px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstCarousel {
  height: 750px;
  width: 100vw;
  position: relative;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: 45vw;
}

.carousel-image-container img {
  height: 125vh;
  width: 100vw;
}

#two {
  zoom: 130%;
  margin-top: -20px;
}

.two {
  height: 125vh;
}

#four {

}

.four {
  height: 125vh;
}

#dot1, #dot2, #dot3, #dot4, #dot5{
  height: 10px;
  width: 10px;
  margin-right: 15px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ccc;
  border-radius: 50%;
}

.shoppingCarousel {
  height: 400px;
  width: 100vw;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rebate-catalog {
  height: 385px;
  width: 100vw;
  background-image: url("./Images/rebate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.rebate-catalog button {
  display: inline-block;
  padding: 2% 15%;
  color: #222;
  background: #fff;
  font-size: 16px;
  margin-top: 28px;
}

.rebate-content {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  width: 100%;
  font: 300 16px/1.2 "Knockout 48 A","Knockout 48 B",Geneva,Tahoma,Verdana,sans-serif;
  letter-spacing: 0.047em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.left-column {
  width: 28vw;
  padding: 70px 35px;
  border: 2px solid #fff;
  color: #fff;
  float: left;
  margin-left: 15vw;
  margin-top: 10vh;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.rebate-btn {
  margin-top: -40px;
  margin-bottom: 15px;
}

.right-column {
  width: 28vw;
  padding: 55px 35px;
  border: 2px solid #fff;
  color: #fff;
  float: right;
  margin-right: 15vw;
  margin-top: 10vh;
  font-size: 24px;
  line-height: 1;
  font-family: 'Oswald', sans-serif;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.right-column img {
  margin-top: -45px;
  margin-bottom: 15px;
  height: 80px;
  width: 125px;
}

.menu {
  height: 625px;
  width: 100vw;
  display: inline-block;
}

.grid {
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-img {
  height: 20%;
  width: 20%;
  margin-right: 25px;
  margin-top: 25px;
  position: relative;
}

.grid-img:hover {
  height: 20%;
  width: 20%;
  margin-right: 25px;
  margin-top: 25px;
  position: relative;
  opacity: .5;
}

    #big-game {
      position: absolute;
      margin-left: -380px;
      margin-top: 92px;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #small-game {
      position: absolute;
      margin-left: -130px;
      margin-top: 92px;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #waterfowl {
      position: absolute;
      margin-top: 92px;
      margin-left: 128px;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #upland {
      position: absolute;
      margin-top: 92px;
      margin-left: 370px;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #turkey {
      position: absolute;
      margin-top: 264px;
      margin-left: -380px;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #predator {
      position: absolute;
      margin-top: 259px;
      margin-left: -130px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #range {
      position: absolute;
      margin-top: 259px;
      margin-left: 120px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #tactical {
      position: absolute;
      margin-top: 264px;
      margin-left: 370px;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #personal-protection {
      position: absolute;
      margin-top: 435px;
      margin-left: -250px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #security {
      position: absolute;
      margin-top: 440px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    #competition {
      position: absolute;
      margin-top: 440px;
      margin-left: 240px;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      font-family: 'Oswald', sans-serif;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

.greenify {
  height: 20%;
  width: 20%;
  margin-right: 25px;
  margin-top: 25px;
  opacity: .01;
  background-color: #074b23;
}

.parallax {
  /* The image used */
 background-image: url("./Images/parallax.jpg");

 /* Set a specific height */
 height: 550px;

 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: 50% 5%;
 background-repeat: no-repeat;
 background-size: cover;

 display: flex;
 justify-content: center;
 align-items: center;
}

.news {
  height: 800px;
  width: 100vw;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}

.left-side {
  width: 30vw;
  height: 750px;
  border: solid 2px yellow;
}

  .recall-safety-information-wrapper {
    width: 30vw;
    border: solid blue;
    height: 200px;
  }

  .latest-news-wrapper {
    width: 30vw;
    border: solid black;
    height: 500px;
  }

.social-media-wrapper {
  height: 700px;
  width: 60vw;
  border: solid 2px yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

    .videos {
      height: 33%;
      width: 98%;
      border: solid 1px orange;
    }

    .facebook-section {
      height: 33%;
      width: 49%;
      border: solid 1px green;
    }

    .twitter-section {
      height: 33%;
      width: 49%;
      border: solid 1px red;
    }

    .instagram-section {
      height: 33%;
      width: 49%;
      border: solid 1px black;
    }

    .facebook-section2 {
      height: 33%;
      width: 49%;
      border: solid 1px blue;
    }

.footer {
  height: 800px;
  width: 100vw;
  background: #074b23;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
