
  <section class="shoppingCarousel"> {{shopping}}
      <slick settings="slickConfig" ng-if="numberLoaded">
        <div class="carouselShopping" ng-repeat="i in shopping">
           <div class="carousel-image-container">
              <img id={{i.id}} src={{i.url}}>
           </div>
        </div>
      </slick>
  </section>

  <section class="rebate-catalog">
      <div class="rebate-content">
        <div class="left-column">
          <div class="rebate-btn"><img src="./Images/btn-rebate.png"></div>
            <span class="title">CASH BACK BY MAIL <br> FOR SELECT PURCHASES</span>
              <button type="button">Learn More</div>
        <div class="right-column">
          <div class="catalog-btn"><img src="./Images/photo-cover-catalog.jpg"></div>
            <span class="title">FLIP THROUGH OUR <br> MEDIA-RICH DIGITAL CATALOG</span>
          <button type="button">Dive In</div>
      </div>
  </section>

  <section class="menu">
    <div class="grid">
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="big-game">BIG GAME</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="small-game">SMALL GAME</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="waterfowl">WATERFOWL</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="upland">UPLAND</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="turkey">TURKEY</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="predator">PREDATOR &<br>VARMINT</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="range">RANGE &<br>RECREATION</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="tactical">TACTICAL</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="personal-protection">PERSONAL<br>PROTECTION</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="security">HOME SECURITY</div>
      <img src="./Images/grid-filler.jpg" class="grid-img"><div id="competition">COMPETITION</div>
    </div>
  </section>

  <div class="parallax">
    <img src="./Images/200years.png" width="40%" height="50%">
  </div>

  <section class="news">
    <section class="left-side">
      <section class="recall-safety-information-wrapper">
        <div class="information"></div>
      </section>
      <section class="latest-news-wrapper">

      </section>
  </section>
    <section class="social-media-wrapper">
      <div class="videos"></div>
      <div class="facebook-section"></div>
      <div class="twitter-section"></div>
      <div class="instagram-section"></div>
      <div class="facebook-section2"></div>
    </section>
  </section>

  </body>
</html>
