
  <section class="firstCarousel">
    <slick settings="slickConfig" ng-if="numberLoaded">
      <div class="carouselPicture" ng-repeat="i in pictures">
         <div class="carousel-image-container">
            <img src={{i}}>
         </div>
      </div>
    </slick>
    <!-- <img ng-src="./Images/featureCarousel/hunting.jpg">
    <img ng-src="./Images/featureCarousel/micro_pistol.jpg">
    <img ng-src="./Images/featureCarousel/protection.jpg">
    <img ng-src="./Images/featureCarousel/rem_783_shooting_jpg.jpg">
    <img ng-src="./Images/featureCarousel/Remington-R51.jpg"> -->
  </section>
