<header class="globalHeader">
    <div class="logo" id="pointer" ui-sref="home">
      <img src="./Images/remington-arms-logo.png" width="58%" height="60%">
    </div>
    <div id="pointer" ui-sref="rifles"> RIFLES </div>
    <div id="pointer" ui-sref="shotguns"> SHOTGUNS </div>
    <div id="pointer" ui-sref="handguns"> HANDGUNS </div>
    <div id="pointer" ui-sref="ammunition"> AMMUNITION </div>
    <div id="titleWrap" ui-sref="shop"> OTHER PRODUCTS </div>
    <div id="titleWrap"><a href="http://www.remingtoncustom.com/" class="custom-shop"> CUSTOM SHOP </a></div>
    <div id="titleWrap" ui-sref="country"> REMINGTON COUNTRY </div>
    <div id="cart" ui-sref="cart">
      <img src="./Images/shopping-cart.gif">
    </div>
</header>
